<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.motungi.sinnamarket">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"
        />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SinnaMarket"
        tools:targetApi="31">
        <activity
            android:name=".main.ChatroomActivity"
            android:exported="false" />
        <!-- Naver Map 클라이언트 ID 유지 -->
        <meta-data
            android:name="com.naver.maps.map.NCP_KEY_ID"
            android:value="ce3shefx6j" /> <!-- DetailActivity 유지 -->
        <activity android:name=".main.MapSelectActivity" />
        <activity
            android:name=".main.DetailActivity"
            android:exported="true" />
        <activity
            android:name=".auth.WriteActivity"
            android:exported="true" />
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".auth.LoginActivity" />
        <activity android:name=".auth.SignUpActivity" />
        <activity android:name=".main.MainActivity" />
        <activity
            android:name=".main.MyInfoActivity"
            android:exported="false" />
    </application>

</manifest>